<div class="container">
  <h2>Asignar Películas a Salas</h2>

  <form [formGroup]="asignacionForm" (ngSubmit)="asignar()">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Seleccionar Película</mat-label>
      <mat-select formControlName="idPelicula">
        <mat-option *ngFor="let pelicula of peliculas" [value]="pelicula.idPelicula">
          {{ pelicula.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Seleccionar Sala</mat-label>
      <mat-select formControlName="idSalaCine">
        <mat-option *ngFor="let sala of salas" [value]="sala.idSalaCine">
          {{ sala.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"  [disabled]="asignacionForm.invalid">
      Asignar
    </button>
  </form>

  <h3>Asignaciones</h3>
  <table mat-table [dataSource]="asignaciones" class="mat-elevation-z8">
    <ng-container matColumnDef="pelicula">
      <th mat-header-cell *matHeaderCellDef> Película </th>
      <td mat-cell *matCellDef="let asignacion">
        {{ asignacion.nombrePelicula || 'Película no disponible' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sala">
      <th mat-header-cell *matHeaderCellDef> Sala </th>
      <td mat-cell *matCellDef="let asignacion">
        {{ asignacion.idSalaCine }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fechaPublicacion">
      <th mat-header-cell *matHeaderCellDef> fechaPublicacion </th>
      <td mat-cell *matCellDef="let asignacion">
        {{ getFechaFormateada(asignacion.fechaPublicacion) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef> fechaFin </th>
      <td mat-cell *matCellDef="let asignacion">
        {{ getFechaFormateada(asignacion.fechaFin) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
